html, body{
    margin:  0;
    padding: 0;
    background-color: #ffc0006b;
}
.upper{
    background-color:	#FFD700;
    color: white;
    padding: 10px;
}
#user_state{
    color: green;
    /* width: 10%; */
}

#user_icon{
    height: 85px;
}

.user_info{
    display: inline-block;
    padding-inline-start: 19px;
    position: fixed;
    text-align: left;
    padding-top: 21px;
}