html, body{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
#central-block{
    left: 1000px;
    position: fixed;
    top: 539px;
    transform:translate(-50%, -50%);
    display: inline-block;
    width: 250px;
    height: 430px;
    margin: -125px 0 0 -125px;
    border: solid;
    border-radius:20px;
    font-family: Trebuchet MS, sans-serif;
    padding:50px;
    background: linear-gradient(-45deg, #fff,#23a6d5,rgb(255, 155, 242), rgb(179, 255, 195), #ddff8d, #ffd885, #ff7878);
    background-size: 400% 400%;
    animation: gradient 0s ease infinite;

}
.input{
    margin: 3px;
    text-align:center;
}
#patern{
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
#button{
    background-color: #fadd8600;
    border: 4px solid #fff1c500;
    border-radius: 14px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.44);
    color: rgb(0, 0, 0);
    font-size: 20px;


}
body{
    background: linear-gradient(-45deg, #fff,rgb(255, 155, 242),#23a6d5, rgb(179, 255, 195), #ddff8d, #ffd885, #ff7878);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  .warn {
    background: #fc0;
    padding: 10px;
   }
   .textani{
    animation-name: fadeInLeft;
    animation-duration: 1s;
   }
   @keyframes fadeInLeft {
    from {
     opacity: 0;
     transform: translateX(-2000px);
    }
    to {
     opacity: 1;
     transform: none;
    }
   }


